<configuration>

    <appender name="GRAYLOG" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
        <host>udp:harvester.kruemel.home</host>
        <port>12201</port>
        <version>1.1</version>
        <facility>imageserver</facility>
        <extractStackTrace>true</extractStackTrace>
        <filterStackTrace>true</filterStackTrace>
        <mdcProfiling>true</mdcProfiling>
        <timestampPattern>YYYY-MM-dd HH:mm:ss.SSS</timestampPattern>
        <maximumMessageSize>8192</maximumMessageSize>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="GRAYLOG"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>